.dotsBar{
  position: fixed;
  bottom: 10vh;
  width: 100%;
  /* left: 25; */
  display: flex;
  justify-content: space-around;
  align-items: center; 
  margin: 0;
  padding: 0;
}
.dots{
  /* position: fixed; */
    /* bottom: 7vh; */
    list-style-type: none;
    display: inline;
    padding: 7px;
    /* margin-top: 20px; */
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #0D7BAB;
    border-radius: 50%;
    display: inline-block;
  }

  .grey {
    background-color: #C9CFD3;
  }
  .content{
    /* text-align: center; */
    /* height: 100%; */

}