.questionBox{
    height: 80%;
}
.answers{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.answersTop{
    display: flex;
}
.answersBot{
    display: flex;
}

.answer{
    background: #FAFAFA;
    border: 2px solid #D9E6EB;
    border-radius: 23px;
    margin: 15px;
}
.answer:hover{
    box-shadow: 1 1 1 1;
}
.answer:visited{
    border: 4px solid #0D7BAB;
}