
<div class="questionBox">
  <div class="question">
    <div class="questionNum">Q{{index + 1}}</div> 
    <div class="questionText">
        {{_questionStr}}
    </div> 
  </div>
  <div class="answers">
    <div class="answersFlex">
      <div [ngClass]="isCorrect(0)" (click)="selectAnswer(0)">
        <div class="btnText">{{_answers[0]}}</div>
      </div>
      <div [ngClass]="isCorrect(1)" (click)="selectAnswer(1)">
        <div class="btnText">{{_answers[1]}}</div>
      </div>
    </div>
    <div class="answersFlex">
      <div [ngClass]="isCorrect(2)" (click)="selectAnswer(2)" >
          <div class="btnText">{{_answers[2]}}</div>
      </div>
      <div [ngClass]="isCorrect(3)" (click)="selectAnswer(3)">
          <div class="btnText">{{_answers[3]}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="_state==0; then thenBlock else elseBlock"></div>  
  <ng-template #thenBlock>
      <button (click)="clickNext()" disabled class="okBtn">OK</button>
  </ng-template>
  <ng-template #elseBlock>
      <div *ngIf="_state==1; then thena else elsea"></div>  
      <ng-template #thena>
          <button (click)="clickNext()"  class="okBtn orngBtn">OK</button>
      </ng-template>
      <ng-template #elsea>
          <button (click)="clickNext()" class="okBtn orngBtn">Continue</button>
      </ng-template>
  </ng-template>


</div>
