.topImg{
    transform: rotate(180deg);
    /* position: absolute; */
    top: 0;
    width: 100vh;
    margin: 0;
  padding: 0;
    /* width:"868px"; */
    /* height:"104px";  */
}
.botImg{
    position: absolute;
    bottom: 0;
    width: 100vh;
    margin: 0;
  padding: 0;
}
.content{
    text-align: center;
    height: 100%;

}
.main{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}